<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="NpgSqlConnectionString" value="Host=45.8.96.144;Database=MiracleAppDB;Username=mira31;Password=G0K/>/F~Kvg8#:" />
	</appSettings>
	<connectionStrings>
		<clear />
		<add name="NpgSqlConnectionString"
		 providerName="System.Data.ProviderName"
		 connectionString="Host=45.8.96.144;Database=MiracleAppDB;Username=mira31;Password=G0K/>/F~Kvg8#:" />
	</connectionStrings>
</configuration>